///* ========================================================================
//   #GLOBAL FONTS
//   ======================================================================== */

@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');

// Declare Font Variables

$g-font-one: 'Hind';
$g-font-two: 'Hind';
$g-font-mono: 'Hind';

// Apply Fonts To Elements

html {
	font-family: $g-font-two;
	color: $c-font;
}

body {
	font-family: $g-font-two;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $g-font-one;
}

code,
kbd,
pre,
samp {
	font-family: $g-font-mono;
}

a {
	font-family: $g-font-one;
}