///* ========================================================================
//   #GLOBAL BREAKPOINTS
//   ======================================================================== */

  // Used for grids

$s:     480px;
$m:     768px;
$l:     1400px;
$xl:    1441px;
