///* ========================================================================
//   #GLOBAL PERCENTAGES - WIDTHS
//   ======================================================================== */

  // Used for grids

$gutter: 0;  // Gutter is a flex-basis mystery???????

$one: 8.33333333%;

$two: 16.66666667%;

$three: 25%;

$four: 33.33333333%;

$five: 41.66666667%;

$six: 50%;

$seven: 58.33333333%;

$eight: 66.66666667%;

$nine: 75%;

$ten: 83.33333333%;

$eleven: 91.66666667%;
